---
import * as Download from "@/components/download";

import InView from "@/components/InView.astro";

import { Separator } from "@/components/ui/Separator";
import Glow from "../Glow.astro";
---

<InView once>
  <section id="premium" class="relative overflow-hidden overflow-y-clip">
    <div
      class="container grid grid-cols-[1fr_400px] items-center gap-16 py-24 max-lg:grid-cols-1"
    >
      <aside class="space-y-8">
        <header>
          <slot name="title" />
          <slot name="description" />
        </header>

        <slot name="feature-list" />

        <Separator />

        <Download.Root>
          <Download.Title>
            Download for your device and upgrade in-app
          </Download.Title>
          <Download.Description>
            Scan the QR code to download for your device
          </Download.Description>
        </Download.Root>
      </aside>

      <div class="relative min-h-100 lg:h-full">
        <video
          id="premium-video"
          width="100%"
          class="max-w-[350px] mask-y-from-90% mask-y-to-transparent mask-x-from-98% mask-x-to-transparent lg:absolute lg:bottom-0 lg:left-1/2 lg:-translate-x-1/2"
          height="auto"
          muted
          playsinline
        >
          <source src="/video/phone.webm" type="video/webm" />
        </video>

        <Glow
          class="in-view:translate-y-[100%] absolute -bottom-14 left-1/2 z-10 -translate-x-1/2 translate-y-[150%] transition-transform duration-1000"
        />
      </div>
    </div>
  </section>
</InView>

<script>
  import { inView } from "motion";

  const section = document.getElementById("premium");
  const video = document.getElementById("premium-video") as HTMLVideoElement;

  if (section && video) {
    inView(
      section,
      () => {
        video.play().catch((e) => {
          console.error("Error playing video:", e);
        });
      },
      { amount: 0.2 },
    );
  }
</script>
