---
import { Image } from "astro:assets";

import background from "@/assets/hero.jpg";
import { Separator } from "@/components/ui/Separator";
import { Stack } from "@/components/ui/Stack";
import { Typography } from "@/components/ui/Typography";
import AnimatedUnderline from "./AnimatedUnderline.astro";
import { DownloadQR } from "./DownloadQR";
import RestaurantCarousel from "./RestaurantCarousel.astro";
---

<section id="site-hero" class="relative overflow-hidden">
  <div
    class="container grid grid-cols-[--spacing(180)_1fr] max-lg:grid-cols-1 lg:gap-16"
  >
    <header class="space-y-8 pt-48 pb-32">
      <Typography
        variant="display"
        size="lg"
        className="mb-6 text-[5rem] text-balance"
      >
        <span
          class="animate-in fill-mode-both slide-in-from-bottom-10 fade-in inline-block duration-1000"
        >
          Good things happen

          <span
            class="animate-in fill-mode-both slide-in-from-bottom-10 fade-in font-script text-primary inline-block text-[6rem] leading-none tracking-normal delay-130 duration-1000 max-lg:leading-[0.7]!"
          >
            last minute
            <AnimatedUnderline delay={0.4} class="w-full max-lg:mt-2" />
          </span>
        </span>
      </Typography>

      <Typography variant="body" size="lg" className="px-2.5 text-lg">
        <strong>Never miss out on the best tables.</strong> Claim last-minute openings
        or trade reservations you can't use.
      </Typography>

      <Separator className="w-full" />

      <Stack
        orientation="row"
        className="max-lg:flex-col max-lg:items-start"
        align="center"
        gap="lg"
      >
        <DownloadQR className="max-w-40" />

        <div>
          <Typography variant="headline" size="sm">
            Download for your device
          </Typography>
          <Typography variant="body" size="md">
            Scan the QR code to download for your device
          </Typography>
        </div>
      </Stack>
    </header>

    <div class="relative h-full flex-1 max-lg:aspect-[0.4] max-lg:w-full">
      <div class="h-full lg:absolute">
        <RestaurantCarousel />
      </div>
    </div>
  </div>

  <Image
    src={background}
    alt="Hero Background"
    class="pointer-events-none absolute inset-0 size-full object-cover opacity-10"
    layout="full-width"
    loading="eager"
  />
</section>

<script>
  import { scroll, animate } from "motion";

  const hero = document.querySelector("#site-hero");

  if (hero) {
    const animation = animate(hero, { y: [0, 300] });
    scroll(animation, { offset: ["start start", "end start"], target: hero });
  }
</script>
