---
import { Card } from "@/components/ui/Card";
import { GradientBorder } from "@/components/ui/GradientBorder";
import { GradientIcon } from "@/components/ui/GradientIcon";
import { Stack } from "@/components/ui/Stack";
import { Typography } from "@/components/ui/Typography";
---

<Card className="bg-card/30 rounded-2xl border-none">
  <GradientBorder
    className="size-full p-4 before:bg-gradient-to-b before:from-white/15 before:to-white/10 [&>svg]:size-12"
  >
    <Stack orientation="row" align="start" gap="md">
      <div
        class="drop-shadow-[0_-1px_0px_color-mix(in_oklab,var(--cinnamon),white_50%)]"
      >
        <GradientIcon
          to="bottom-right"
          stops={[
            "var(--umbra)",
            "color-mix(in oklab, var(--cinnamon), var(--sand-storm) 50%)",
            "var(--umbra)",
          ]}
          className="[&_svg]:size-9"
        >
          <slot name="icon" />
        </GradientIcon>
      </div>

      <Typography variant="body" size="lg">
        <slot />
      </Typography>
    </Stack>
  </GradientBorder>
</Card>
