---
import { Image } from "astro:assets";
import logo from "@/assets/svg/logo.svg";
import { Separator } from "@/components/ui/Separator";
import { Stack } from "@/components/ui/Stack";
import { Instagram, TikTok } from "@/icons";
import { Typography } from "./ui/Typography";
---

<footer class="container overflow-hidden py-24 lg:max-h-110">
  <Stack
    orientation="row"
    justify="between"
    align="center"
    className="max-lg:flex-col"
  >
    <Stack
      orientation="row"
      className="max-lg:mb-12 max-lg:flex-col lg:h-12"
      gap="lg"
      align="center"
    >
      <Image alt="ResX Logo" src={logo} class="h-auto w-34" />
      <Separator className="h-full max-lg:hidden" orientation="vertical" />

      <Stack
        orientation="row"
        align="center"
        gap="sm"
        className="text-muted-foreground [&_a]:hover:text-primary"
      >
        <Typography variant="body" size="md" color="muted">
          Follow us on
        </Typography>
        <a
          href="#"
          class="inline-block transition-transform duration-150 ease-out hover:rotate-6"
        >
          <Instagram />
        </a>
        <a
          href="#"
          class="inline-block transition-transform duration-150 ease-out hover:-rotate-8"
        >
          <TikTok />
        </a>
      </Stack>
    </Stack>

    <Stack
      orientation="row"
      className="[&>a]:text-muted-foreground [&>a]:hover:text-primary h-12 text-sm *:transition-all *:duration-300 max-lg:flex-col"
      gap="lg"
      align="center"
    >
      <a href="#">About Us</a>
      <a href="#">Submit on ResX</a>
      <a href="#">Claim on ResX</a>
    </Stack>
  </Stack>

  <Image
    src={logo}
    alt="ResX Logo"
    class="mt-16 w-full mask-x-to-transparent opacity-75 grayscale"
  />
</footer>
