---
import { getCollection } from "astro:content";
import { chunk, last } from "es-toolkit";
import { Carousel } from "@/components/ui/Carousel";
import { Stack } from "@/components/ui/Stack";
import RestaurantCard from "./RestaurantCard.astro";

const count = 4;
const restaurants = await getCollection("restaurants");
const columns = chunk(restaurants, Math.ceil(restaurants.length / count));
const duration = (last(columns)?.length ?? 1) * 23;
---

<div class="absolute h-full mask-y-from-70% mask-y-to-transparent">
  <Stack orientation="row" gap="md">
    {
      columns.map((cells, i) => (
        <Carousel
          duration={duration}
          gap={4}
          direction={i % 2 ? "up" : "down"}
          client:load
        >
          {cells.map((restaurant) => (
            <RestaurantCard restaurant={restaurant} />
          ))}
        </Carousel>
      ))
    }
  </Stack>
</div>
