---
import { Separator } from "@/components/ui/Separator";

import Noise from "@/components/Noise.astro";
---

<section class="from-sand-storm/30 relative bg-radial-[100%_50%_at_50%_0%]">
  <Separator className="bg-white/30 mask-x-from-50% mask-x-to-transparent" />

  <div class="container flex flex-col justify-start gap-8 py-24">
    <slot />
  </div>

  <Noise />
</section>
