---
import { Separator } from "@/components/ui/Separator";

import InView from "@/components/InView.astro";
import Noise from "@/components/Noise.astro";
---

<InView once amount={0.4}>
  <section
    class="from-cinnamon/30 relative overflow-x-clip bg-radial-[100%_50%_at_50%_0%] pb-24"
  >
    <Separator
      className="bg-sand-storm mask-x-to-transparent mix-blend-plus-lighter"
    />

    <header
      class="lg:animate-in lg:fade-in lg:slide-in-from-top-4 lg:fill-mode-both lg:paused lg:in-view:running container py-24 lg:duration-1000 lg:ease-out"
    >
      <slot name="title" />
    </header>

    <div class="relative z-20">
      <slot name="carousel" />
    </div>

    <Noise />
  </section>
</InView>
