---
import Footer from "@/components/Footer.astro";
import { Navigation } from "@/components/Navigation";
import type { Props as BaseLayoutProps } from "@/layouts/BaseLayout.astro";
import BaseLayout from "./BaseLayout.astro";

export interface Props extends BaseLayoutProps {}
---

<BaseLayout {...Astro.props}>
  <main>
    <Navigation currentPage={Astro.url} client:load />
    <slot />
    <Footer />
  </main>
</BaseLayout>
